<!DOCTYPE HTML>
<html>
<head>
    <title>Main page</title>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='animater.css') }}" />
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='iconfont/material-icons.css') }}" />
</head>
<body onload="getStory()">

<center class="container">
<div class="logger" id="logger"></div>
<input type="button" class="button" value="more" onclick="getStory()"/>
<input type="button" class="button" value="action" onclick="viewActions()"/>

</center>


<div id="dialogue_box" class="dialogue">
 <div class="actionElement" onclick="doAction('BALCONY')">Look at balcony</div>
 <div class="actionElement" onclick="doAction('WAIT')">Wait and see</div>
 <div class="actionElement" onclick="doAction('ENDOF')">Go to the end of the alley</div>
</div>

</body>
</html>